.army_list {
	width: 400px;
	padding: 5px;
	border: 1px solid #666;
	border-radius: 10px;
	color:black;
	background-color: #ccc;
	box-shadow: 3px 3px 5px  #aaa;
}

.caster {
	font-weight: 100;
}

.battlegroup {
	text-indent: 10px;
}

.models {
	width:95%;
}

.units {

}



